@{
    ViewBag.Title = "Home Page";
}

<div class="fixed-side-navbar">
    <ul class="nav flex-column">
        <li class="nav-item"><a class="nav-link" href="#home"><span>наверх&nbsp;</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#services"><span>Задачи</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#portfolio"><span>Предложение</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#our-story"><span>статус</span></a></li>
        <li class="nav-item"><a class="nav-link" href="#contact-us"><span>контакты</span></a></li>
    </ul>
</div>

<div class="parallax-content baner-content" id="home">
    <div class="container">
        <div class="first-content">
            <h1 class="text-left col-xl-11">МЫ</h1>
            <h1 class="text-left col-xl-11">строим</h1>
            <h1 class="text-left col-xl-11">катамаран</h1>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <h1 class="text-left col-xl-11"></h1>
            <h1 class="text-left col-xl-11"></h1>
            <h1 class="text-left col-xl-11"></h1>
            <h1 class="text-left col-xl-11"></h1>
            <h1 class="text-left col-xl-11"></h1>
            <span></span>
            <div class="primary-button">
                <a href="#services">Присоединяйтесь!</a>
            </div>
        </div>
    </div>
</div>


<div class="service-content" id="services">
    <div class="container">

        <div class="row">
            <div class="col-md-4 col-xl-7">
                <div class="left-text">
                    <h4>Добро пожаловать на сайт яхт-клуба "КАТАМАРАН"&nbsp;</h4>
                    <div class="line-dec"></div>
                    <p>Мы - интернациональная группа энтузиастов-единомышленников из России, Молдовы и Германии, ценящих здоровый образ жизни, активный отдых и путешествия. "Катамаран" - это клуб по интересам, основной задачей которого является организация отдыха на воде членов клуба, путешествия и экскурсии по достопримечательностям. Вы можете к нам присоединиться и получить льготные условия на морские туры, круизы и атлантические переходы! Добро пожаловать!</p>
                    <p>
                        Кто из нас не мечтал в летний изнурительный зной окунуться в прохладу кристально чистого Эгейского моря? Или надеть акваланг и спуститься на дно к коралловым рифам Красного моря? Дернуть за спининг, с трудом вытягивая на палубу здоровенного тунца или марлина, бороздя просторы Атлантики, или зарыться в белоснежный песок Мальдив и разглядывать верхушку ближайшей пальмы, оценивая размеры спелого кокоса? Для кого-то это так и может остаться мечтой всей жизни, а кто-то может себе позволить что-то одно из списка лишь однажды...&nbsp;<br>
                        &nbsp; Клуб "Катамаран" хочет изменить ситуацию в лучшую сторону и сделать морские круизы доступнее как по финансам, так и по организационной части! Ни для кого не секрет, что отдых на воде считается элитной услугой, и стоит в несколько раз дороже отдыха в сухопутном пансионате по схеме "All inclusive". Львиную долю затрат составляет стоимость аренды яхты, чаще всего предоставляемую вам в чартер (вид аренды), и, чем выше класс яхты - тем дороже она стоит. Плюс к тому, вам предлагают чисто яхту, автоматически нагружая вас проблемами по ее эксплуатации, организации собственного досуга и питания! И мы очень сомневаемся, что среди ваших знакомых водятся дипломированные капитаны, готовые разделить с вами отпуск, взяв на себя обязательства покатать вас по морю, свозить на местный рынок за продуктами, съездить к портовым и таможенным властям для утрясания формальностей, обеспечивать работу незнакомых систем и оборудования... Конечно, с приложением определенных усилий и более значительных капитальных вложений, все проблемы можно урегулировать и найти их решение, но затраты на такой вид отдыха будут неоправданно высокие. Именно по этой причине элитный отдых на яхте доступен только очень обеспеченным слоям населения. А&nbsp; как же быть среднему классу? Опять Турция или Египет?<br>
                        &nbsp;Для достижения целей удешевления стоимости морских круизов, руководством клуба было принято решение отказаться от традиционной системы чартеров морских судов, и&nbsp;     приобрести собственное парусное морское судна класса Катамаран, который и будет использоваться для реализации целей клуба. Для экономии средств (приобретение готового катамарана аналогичного класса с верфи будет стоить свыше миллиона Евро),   было принято решение о конструировании судна собственными силами, для чего был разработан авторский проект судна, привлечены специалисты из разных технических областей и направлений - конструкторы, инженеры, проектировщики, программисты и т.д. Как результат их работы - готовы предварительные чертежи круизного катамарана класса А (океанский), длина 18 метров, ширина 10 метров, осадка 1,4 м., водоизмещение  15 тонн. Катамаран разработан для выполнения задач обеспечения комфортабельного отдыха пассажиров по системе "All inclusive" с предоставлением сервиса трехразового питания, а также с учетом возможности осуществления трансокеанских переходов на новые места базирования. Таким образом будут решаться задачи ротации круизных маршрутов и предоставления услуг в зимний период в других регионах планеты. С нами вы запросто сможете встретить Новый Год на Мальдивах или где-нибудь на Ямайке!<br>
                        Для реализации проекта и постройки катамарана, клуб ищет инвесторов! Сумма, необходимая для строительства судна, составляет примерно 200 000 Евро. Это средства, которые необходимы исключительно для приобретение материалов и оборудования, все остальные затраты на осуществление проекта организаторы берут на себя. Таким образом предполагается обеспечить себестоимость готового катамарана на уровне 300-400 тыс. Евро, что примерно в 3-4 раза дешевле рыночных предложений. Примерные сроки постройки судна&nbsp; - 2 года с момента накопления необходимой суммы. Начало работ намечается при накоплении начальной суммы в 100 тыс. Евро, с учетом последующих поступлений от инвесторов. Весь процесс конструирования судна (обобщенно, без раскрытия технических решений и инженерных изобретений), будет доводиться до широкого круга общественности и инвесторов в виде регулярных фотоотчетов и периодических прямых видеотрансляций с верфи согласно утвержденному графику. Спуск на воду и регистрация судна планируется в морском торговом порту Джурджулешты, Р. Молдова. Далее - выход в открытое море через Дунай, и начало работы.<br>
                        Основные регионы базирования и плавания - Эгейское море (Турция, Греция), Адриатическое море (Хорватия, Черногория), Средиземное море (Италия, Испания), Карибский бассейн (Куба, Багамы, Доминикана, Ямайка), Индийский океан (Мальдивы, Сейшелы). Маршрут движения и расписание круизов, с возможностью их бронирования он-лайн, будут публиковаться на уже обновленной версии этого сайта, который изменит облик после постройки и сдачи в эксплуатацию катамарана. Материалы по запуску проекта и фазам строительства уйдут в архив.
                    </p>
                    <p>&nbsp;Итак, деятельность клуба состоит из следующих этапов:</p>
                    <ul>
                        <li>- Разработка проекта парусного катамарана (выполнено)</li>
                        <li>-  Сбор средств на строительство, поиск инвесторов (в процессе)</li>
                        <li>-  Строительство катамарана, оформление документов (следующий этап)</li>
                        <li>-  Начало круизных плаваний, возврат инвестиций (следующий этап)</li>
                    </ul>
                    <div class="primary-button">
                        <a href="#portfolio">становитесь нашим Инвестором!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-5">
                <div class="row">
                    <div class="col-md-6 col-xl-5">
                        <div class="service-item">
                            <h4> Проект-ЛЮКС</h4>
                            <div class="line-dec"></div>
                            <p class="text-center">Длина - 18 м. Ширина - 10м. Кают - 5 шт.&nbsp; &nbsp; Пассажиров  10 Санузлов - 6 Отдельная кухня</p>
                            <p class="text-center">WI-FI, TV, кондиционер, караоке и т.д.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5">
                        <div class="service-item">
                            <h4>Уникальные круизные маршруты</h4>
                            <div class="line-dec"></div>
                            <p>Греция, Турция, Мальта, Ибица, Хорватия, Черногория, Канары, Карибы, Доминикана, Мальдивы, Сейшелы...&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5">
                        <div class="service-item">
                            <h4>Льготы членам клуба</h4>
                            <div class="line-dec"></div>
                            <p>Скидки на круизы, раннее бронирование, возможность заказа частных маршрутов, и др.&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5">
                        <div class="service-item">
                            <blockquote>
                                <h4 class="text-center">Отличный сервис</h4>
                            </blockquote>
                            <div class="line-dec"></div>
                            <p>Опытный капитан, искусный повар, обслуживание по схеме "все включено". Экскурсии и развлечения.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="parallax-content projects-content" id="portfolio">
    <h1 class="text-left col-xl-11"></h1>
    <p class="offset-xl-1 col-xl-9">Для тех, кто намерен оказать финансовую помощь нашему проекту и ускорить его реализацию, мы готовы предложить дополнительные выгодные условия, среди которых различные схемы по возврату ваших инвестиций и получения бонусов в виде процента от вложенных средств, либо предоставление круизных пакетов на особо льготных условиях. Выбрав ту или иную схему участия в проекте, вы закрепляете за собой право ее использования на весь срок действия ее условий. Вы можете воспользоваться бонусами лично, либо переуступить их любому другому человеку на свое усмотрение. Например, если у вас не получается в этом году воспользоваться плановым бесплатным круизом, вы можете переуступить это право кому-нибудь другому.</p>


    <p class="offset-xl-1 col-xl-9">В зависимости от суммы взноса и выбранного Вами пакета, мы можем предложить вам несколько стандартных вариантов возврата инвестиций и получения бонусов, среди которых:</p>
    <p class="col-xl-9">&nbsp;</p>

    <div class="row">



        <h3 class="offset-xl-1 text-center col-xl-2"> Схема 1) Инвестиции в любом объеме = возврат инвестированной суммы + 50% в течение 8 лет с момента запуска проекта.</h3>
        <h3 class="offset-xl-1 text-center col-xl-2"> Схема 2) Инвестиции в объеме не менее 10 000 Евро = возврат инвестированной суммы в течение 8 лет с момента запуска проекта + 20% скидки на любые круизы бессрочно.</h3>
        <h3 class="col-xl-2 text-center offset-xl-1"> Схема 3) Инвестиции в будущие круизы - сумма, кратная 1500 Евро  = количество бесплатных круизных мест х 2 (Пояснение в Примечании №1).</h3>

    </div>




    <div class="line-dec offset-xl-1 col-xl-">
        <p>&nbsp; </p>
        Примечание №1. В среднем, стоимость 10-дневного круиза по схеме "All inclusive" составаляет 1500 Евро на человека. Минимальная цена - в районе Турции в низкий сезон, максимальная - район Мальдив и Сейшелы в "час-пик". Инвестируя в проект по схеме №3, Вы, фактически, осуществляете раннее бронирование одного туристического места, а взамен получаете два, причем, на любой из выбранных Вами туров. Это решение входит в систему поощрений за финансовую помощь проекту. Выбрав в качестве предпочтительного один из дорогих туров, можно потратить на него в три раза меньше его стандартной стоимости!
        <p>&nbsp; </p>
        Вы также можете просто оказать материальную помощь проекту в любом объеме, что поспособствует быстрейшей реализации наших целей и запуску судна в круиз. В качестве спонсора ваши координаты будут занесены в базу данных инвесторов, и вы первыми будете информироваться о всевозможных льготах, скидках, "горячих турах" и акциях. Уверен, вы не пожалеете о своем участии в проекте!
        <p>Помочь проекту и перевести на наш счет некоторую сумму средств вы можете одним из следующих способов:</p>
        <p>&nbsp; </p>
        <p>   </p>

    </div>

    <div class="row">
        <h3 class="offset-xl-1 text-center col-xl-1"> </h3>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">

            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="MZYE25MG6L6BG">
            <table>
                <tr>
                    <td>
                        <input type="hidden" text-center name="on0" value="Donation for Yaht Club">
                        Donation for Yaht Club
                    </td>
                </tr>
                <tr>
                    <td>
                        <blockquote>
                            <p class="text-center">
                                <input type="hidden" text-center name="on0" value="Donation for Yaht Club">
                                PayPal
                            </p>
                        </blockquote>
                    </td>
                </tr>
            </table>
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

        </form>

        <h3 class="offset-xl-1 text-center col-xl-2"> <iframe src="https://funding.webmoney.ru/widgets/vertical/1d828f29-f0b5-4b76-9215-3289d47cef8c?bt=4&hs=1&sum=50" width="240" height="240" scrolling="no" style="border:none;"></iframe></h3>

        <h3 class="offset-xl-0 text-center col-xl-1"> </h3>

        <table>
            <tr>
                <td>
                    <img src="img/bitcoin.png" alt="" />
            </tr></td>
            <tr>
                <td>
                    <a class="donate-link" href="bitcoin:bc1q0y55c2cu426cv6azjc6vceu9g9j2gretxf6sz5" target="_blank">bc1q0y55c2cu426cv6azjc6vceu9g9j2gretxf6sz5</a>
            </tr></td>
        </table>



    </div>
    <div class="col-xl-9 offset-xl-1">
        <a href="#tab1" class="active"></a>

        <p>  </p>


    </div>

    <div class="col-xl-10 offset-xl-1">
        <a href="#tab1" class="active"></a>

        <p class="col-xl-11">В планах развития также присутствует проект строительства полноценной марины с пирсом на 300 мест, соответствующей всем современным требованиям и нормам, с наличием сервисного оборудования, душа, отеля, ресторана и технического обеспечения по уборке, текущему и капитальному ремонту яхт. Место базирования - Автономная Республика Крым. Но это уже далеко идущие планы на будущее, которые целиком зависят от суммы собранных средств. Вполне возможно, что проект сразу начнет разворачиваться на другой, более перспективной площадке. В любом случае, это нужно обсуждать дополнительно!</p>

        <p class="col-xl-11">     </p>
        <p>&nbsp; </p>
        <p class="col-xl-11">В качестве примера можете ознакомиться с некоторыми фото интерьера готовых катамаранов европейских верфей, взятых нами для образца будущей отделки судна. Что-то похожее мы будем внедрять и в нашей конструкции. Надеемся, готовый вариант будет не хуже как по красоте, так и эргономике.</p>

        <p>&nbsp; </p>

    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/1b.jpg" data-lightbox="image-1"><img src="img/1s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>С высоты птичьего полета</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/2b.jpg" data-lightbox="image-1"><img src="img/2s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Вечерняя подсветка</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/3b.jpg" data-lightbox="image-1"><img src="img/3s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Переднее пространство</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/4b.jpg" data-lightbox="image-1"><img src="img/4s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Кают-компания </h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/5b.jpg" data-lightbox="image-1"><img src="img/5s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>VIP каюта </h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/6b.jpg" data-lightbox="image-1"><img src="img/6s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Вид снаружи</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/7b.jpg" data-lightbox="image-1"><img src="img/7s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Кухня (камбуз)</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <a href="img/8b.jpg" data-lightbox="image-1"><img src="img/8s.jpg" alt=""></a>
                            <div class="text-content">
                                <h4>Гостевая каюта</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tabs-content" id="our-story">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="wrapper">
                    <section id="first-tab-group" class="tabgroup">
                        <div id="tab1">
                            <img src="img/1st-tab.jpg" alt="">
                            <p>Please do not re-distribute our template ZIP file on your template collection sites. You can make a screenshot and a link back to our website. This template can be used for personal or commercial purposes by end-users.</p>
                        </div>
                        <div id="tab2">
                            <img src="img/2nd-tab.jpg" alt="">
                            <p>Aliquam eu ultrices risus, sed condimentum diam. Duis risus nulla, elementum vitae nisi a, ornare maximus nisl. Morbi et vehicula est. Cras at vulputate justo. Cras eu nulla metus. Ut et pretium velit. Pellentesque at neque tristique dui tempor venenatis.</p>
                        </div>
                        <div id="tab3">
                            <img src="img/3rd-tab.jpg" alt="">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia ligula est, at venenatis ex iaculis quis. Morbi sollicitudin nulla eget odio pellentesque, sed cursus diam iaculis.</p>
                        </div>
                        <div id="tab4">
                            <img src="img/4th-tab.jpg" alt="">
                            <p>Duis risus nulla, elementum vitae nisi a, ornare maximus nisl. Morbi et vehicula est. Cras at vulputate justo. Cras eu nulla metus. Ut et pretium velit. Pellentesque at neque tristique.</p>
                        </div>
                    </section>
                    <ul class="tabs clearfix" data-tabgroup="first-tab-group">
                        <li><a href="#tab1" class="active">2008 - 2014</a></li>
                        <li><a href="#tab2">2014 - 2016</a></li>
                        <li><a href="#tab3">2016 - 2019</a></li>
                        <li><a href="#tab4">2019 - Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax-content contact-content" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <div class="row">
                        <form id="contact" action="" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset>

                                        <input name="name" type="text" class="form-control" id="name" placeholder="Your name..." required="">

                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <input name="email" type="email" class="form-control" id="email" placeholder="Your email..." required="">
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="btn">Send Message</button>


                                    </fieldset>
                                </div>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map">
                    <!-- How to change your own map point
                           1. Go to Google Maps
                           2. Click on your location point
                           3. Click "Share" and choose "Embed map" tab
                           4. Copy only URL and paste it within the src="" field below
                    -->

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25121.592775625373!2d28.232095303076758!3d45.47787494901018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b71e4ce8854d2d%3A0x88a5197a78d19507!2sGiurgiulesti%20International%20Free%20Port!5e0!3m2!1sru!2s!4v1637013831514!5m2!1sru!2s" width="500" height="393" style="border:0;" allowfullscreen="" loading="lazy"></iframe>2
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="primary-button">
                    <a href="#home">Back To Top</a>
                </div>
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
                <p>
                    Copyright &copy; 2021 MyCatamaran

                </p>


            </div>
        </div>
    </div>
</footer>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script src="script/mail.php"></script>
<script>
    function openCity(cityName) {
        var i;
        var x = document.getElementsByClassName("city");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(cityName).style.display = "block";
    }
</script>

<script>
    $(document).ready(function () {
        // Add smooth scrolling to all links
        $(".fixed-side-navbar a, .primary-button a").on('click', function (event) {

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                    scrollTop: $(hash).offset().top
                }, 800, function () {

                    // Add hash (#) to URL when done scrolling (default click behavior)
                    window.location.hash = hash;
                });
            } // End if
        });
    });
    $(function () {
        $("#Button1").button();
    });
    $(function () {
        $("#Button2").button();
    });
</script>